:root { 
--black_900_7f:#0c0c0c7f; 
--red_300_13:#b26c81; 
--gray_50_01:#fbfcfc; 
--red_300_14:#ed5e76; 
--gray_50_02:#f6f5fd; 
--black_900_b2:#000000b2; 
--red_300_10:#bc6672; 
--red_300_11:#b96877; 
--red_300_12:#b56a7c; 
--black_900_90:#10101090; 
--red_A400_bf:#fa1236bf; 
--red_400:#e4533f; 
--teal_100:#9fdac5; 
--lime_600_14:#d5c821; 
--lime_600_15:#d4cc1d; 
--gray_900_0c:#1122110c; 
--black_900_01:#101010; 
--lime_600_12:#d7c028; 
--lime_600_13:#d6c425; 
--yellow_800:#de973b; 
--yellow_800_08:#dd9c38; 
--lime_600_10:#d9b82d; 
--yellow_800_09:#dda137; 
--lime_600_11:#d8bc2b; 
--yellow_800_06:#df923a; 
--yellow_800_07:#de9739; 
--yellow_800_04:#dbab35; 
--yellow_800_05:#dbaf33; 
--yellow_800_02:#dda138; 
--yellow_800_03:#dca637; 
--blue_gray_900:#26263f; 
--deep_purple_300_06:#9c70a0; 
--red_300_06:#c45670; 
--black_900_03:#0c0c0c; 
--yellow_800_01:#dd9c3a; 
--black_900_02:#000000; 
--red_300_07:#c55f62; 
--lime_600_16:#d3d017; 
--deep_purple_300_04:#9474a8; 
--red_300_08:#c26268; 
--lime_600_17:#d2d310; 
--deep_purple_300_05:#9872a4; 
--gray_50_7f:#fafafa7f; 
--red_300_09:#bf646d; 
--deep_purple_300_02:#8b77b0; 
--deep_purple_300_03:#8f75ac; 
--gray_900_bf:#111111bf; 
--deep_purple_300_01:#8678b4; 
--blue_gray_100:#cfd4dc; 
--gray_900_0c_01:#1018280c; 
--lime_A700_71:#d2d70071; 
--blue_gray_500:#6d7391; 
--black_900_0c:#1010100c; 
--lime_600_03:#d7c029; 
--lime_600_04:#d6c426; 
--lime_600_01:#d9b82f; 
--lime_600_02:#d8bc2c; 
--indigo_200:#a1afcc; 
--lime_A700:#d2d700; 
--lime_600_09:#dab430; 
--black_900_19:#00000019; 
--lime_600_07:#d3d018; 
--yellow_800_11:#dbab34; 
--lime_600_08:#d2d311; 
--yellow_800_12:#dbaf32; 
--indigo_A100_7f:#9381ff7f; 
--lime_600_05:#d5c822; 
--lime_600_06:#d4cc1e; 
--yellow_800_10:#dca635; 
--red_600_15:#dd4733; 
--red_600_14:#e0442e; 
--red_600_13:#e24128; 
--deep_orange_A200:#e26e40; 
--red_600_12:#e42c41; 
--red_600_17:#d84d3e; 
--blue_gray_100_01:#d1d1d1; 
--red_600_16:#db4a38; 
--blue_gray_100_02:#d0d5dd; 
--deep_orange_400_01:#e17b3f; 
--blue_gray_100_03:#cccccc; 
--deep_orange_400_02:#e0803e; 
--red_300:#b26588; 
--blue_gray_100_04:#cbd4e6; 
--gray_50_fa:#fafafafa; 
--deep_orange_400_05:#e17b3d; 
--red_600_11:#e13145; 
--amber_A200:#ffcd3a; 
--deep_orange_400_06:#e0813c; 
--red_600_10:#df3548; 
--gray_50:#fafafa; 
--deep_purple_300:#8f78ae; 
--deep_orange_400_03:#e0863e; 
--deep_orange_400_04:#df8c3d; 
--pink_400_01:#ca5067; 
--blue_800_26:#0857cb26; 
--deep_orange_400_07:#e0863c; 
--deep_orange_400_08:#df8c3b; 
--gray_500_01:#a36d98; 
--gray_500_03:#ae6d86; 
--red_A400:#fa1236; 
--gray_500_02:#a76b94; 
--deep_orange_400:#e1753f; 
--red_600_09:#dc394c; 
--pink_400:#c7536b; 
--purple_400:#ab6990; 
--red_600_04:#e6293b; 
--red_300_02:#b86080; 
--red_600_03:#e5433e; 
--red_300_03:#bc5e7c; 
--red_600_02:#e53a3e; 
--red_300_04:#bf5b78; 
--red_600_01:#e6323e; 
--deep_orange_A400_7f:#fc2f007f; 
--gray_500:#a06f9c; 
--red_300_05:#c25974; 
--lime_600:#dab431; 
--red_600_08:#da3c50; 
--red_600_07:#e5433d; 
--red_600_06:#e53b3c; 
--gray_900:#111111; 
--red_600_05:#e6333c; 
--red_300_01:#b56284; 
--gray_50_71:#fbfcfc71; 
--blue_gray_800_01:#353749; 
--deep_orange_A400_00:#fc2f0000; 
--indigo_300:#8179b8; 
--black_900_71:#10101071; 
--lime_A700_01:#d1d706; 
--red_600:#e6273d; 
--deep_orange_700_01:#e43d23; 
--deep_purple_400:#7e56d8; 
--indigo_A100:#9381ff; 
--black_900_3f:#0000003f; 
--blue_gray_500_01:#667084; 
--deep_orange_700:#e73a1e; 
--gray_200_01:#e7e7e7; 
--black_900_7f_01:#0101017f; 
--pink_300:#ea568b; 
--gray_600:#79747e; 
--orange_A200:#df913c; 
--blue_gray_300:#98a1b2; 
--amber_700:#f59e0b; 
--gray_200:#ececec; 
--white_A700_bf:#ffffffbf; 
--lime_A700_9e:#d2d7009e; 
--gray_900_71:#19321971; 
--indigo_A100_3f:#9381ff3f; 
--white_A700:#ffffff; 
--white_A700_9e:#ffffff9e; 
--red_500_01:#e44c3d; 
--deep_orange_A200_04:#ff6233; 
--deep_orange_A200_01:#e2683e; 
--gray_300_71:#ddeedd71; 
--red_A400_7f:#fa12367f; 
--deep_orange_A200_03:#e1753d; 
--deep_orange_A200_02:#e26f3e; 
--black_900_9e:#1010109e; 
--red_500:#e44b3f; 
--red_400_02:#e36140; 
--red_400_01:#e35a40; 
--red_400_04:#e4533d; 
--red_400_03:#e26840; 
--red_400_06:#e3623e; 
--red_400_05:#e35b3e; 
--green_400:#6dc070; 
--black_900:#010101; 
--purple_400_01:#ae678c; 
--blue_gray_800:#344053; 
--deep_orange_A400:#fc2f00; 
--purple_600:#993388; 
--deep_orange_A400_3f:#fc2f003f; 
--gray_900_02:#18181b; 
--gray_900_03:#1c1b1f; 
--gray_900_04:#28262c; 
--blue_gray_400:#7b8db0; 
--amber_600:#ffb703; 
--gray_900_01:#191d23; 
--blue_600:#368fe7; 
--red_400_11:#d74054; 
--red_400_10:#d54358; 
--red_400_13:#d35348; 
--red_400_12:#d65043; 
--red_400_15:#ce5853; 
--gray_300:#ddeedd; 
--red_400_14:#d0554e; 
--red_400_17:#c85d5d; 
--gray_300_01:#d6deef; 
--red_400_16:#cb5b58; 
--red_400_08:#cf4a60; 
--red_400_07:#cd4d64; 
--red_400_09:#d2475c; 
--gray_900_7f:#1111117f; 
}